.nav{
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    border-top: 1px solid #f7f7f7;
    background-color: #fcfcfc;
    bottom: 0px;
    left:0px;
    
}
.nav__list{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    
}
.nav__list-link{
    position:relative;
}

.nav__badge{
    position:absolute;
    top:-2px;
    right:-5px;
    color:white;
    background-color: #dc5d46;
    width:15px;
    height:15px;
    border-radius: 50%;
    font-size: 10px;
    font-weight:700;
    text-align: center;
    line-height:15px;

}

@keyframes showNavBar{
    from{
        transform: translateY(80px);
    }
    to{
        transform: none;
    }
}
.nav{
    transform: translateY(80px);
    animation: showNavBar .5s ease-out forwards;
    animation-delay: .5s;
}